.header {
  padding: 5px 50px 0;
  margin: 95px 0 100px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.navigation__links-list {
  list-style-type: circle;
  display: flex;
  justify-content: flex-start;
  gap: 32px;
}

.navigation__links-list-item,
.address {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.address__links-list-item_no-bullit {
  list-style-type: none;
}

.decorate__link {
  text-underline-offset: 4px;
}

.address__link_active {
  text-decoration: none;
}

.header__logo {
  width: 135px;
  height: 100px;
}

.address {
  width: 240px;
  font-style: normal;
}

.header__address {
  justify-self: end;
}

.address__span {
  display: block;
}

.cover {
  min-height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

  .cover__title {
  padding: 165px 50px 0;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  line-height: 115px;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  /* Значение по PerfectPixel */
  margin: 20px 0;
  /* Компенсируем кернинг последнего элемента*/
  margin-right: -0.3em;
}

.aligned-text_right {
  text-align: right;
  /* Компенсируем кернинг последнего элемента*/
  margin-right: -0.3em;
}

.cover__description {
  padding: 0 50px 50px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.cover__description-text,
.bet-button {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
}

.letter-spacing-extended {
  /* Значение по PerfectPixel */
  word-spacing: 18px;
}

.bet-button {
  display: inline-block;
  min-width: 256px;
  min-height: 51px;
  margin-left: auto;
  background-color: transparent;
  font-weight: 500;
  border: #fff solid 1px;
  box-sizing: border-box;
  padding: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  inset: 0;
}

.lots {
  margin: 180px 24px 0;
}

.lots__heading {
  margin-left: 40px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  margin-top: 27px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  flex-basis: 0;
  min-width: 334px;
  min-height: 596px;
  list-style-type: none;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title,
.card__text,
.lots__look-more-link {
  color: #fff;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  line-height: 120%;
  z-index: 1;
}

.card__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  padding: 48px 40px 0;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  margin-top: auto;
  padding: 0 40px 48px;
}

.lots__look-more-link {
  display: inline-block;
  z-index: auto;
  color: black;
  font-weight: 400;
  font-size: 20px;
  /* Значение по PerfectPixel */
  line-height: 135%;
  margin: 30px 0 0 40px;
}

.about {
  margin: 120px 24px 0;
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: auto;
  /* Значениz по PerfectPixel */
  column-gap: 20px;
  row-gap: 4px;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%; 
  background-color: black;
  margin-top: 30px;
  justify-self: center;
}

.about__logo-image{
  width: 148px;
  height: auto;
}

.about__column {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about__title,
.about__text {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  padding: 5px;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin-top: 40px;
  align-self: center;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 5px;
}

.footer {
  /* Значение по PerfectPixel */
  margin: 175px 50px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__address {
  justify-self: start;
  width: 265px;
  line-height: 24.3px;
}

.footer__links-list-item {
  line-height: 22px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-content: end;
}

.footer-align-links {
  flex-direction: column;
  gap: 0;
  list-style-type: none;
  text-align: center;
  line-height: 22.3px;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: auto;
}